<?xml version="1.0"?>
<launch>
  <master auto="start"/>

    <!--  ************** Global Parameters ***************  -->
    <param name="/use_sim_time" value="false"/>

    <!--  ************** urg_node hector_slam ***************  -->  
  <include file="$(find navigation2d_example)/launch/hector_hokuyo.launch"/>

    <!--  ************** remote control *********************  -->
  <node name="joy_node" pkg="joy" type="joy_node" />
  <node pkg="g29mt" name="ps3_twist_pub" type="ps3_twist_pub" output="screen" />
  <!-- <node pkg="g29mt" name="g29_twist_pub" type="g29_twist_pub" output="screen" /> -->

    <!--  ************** Navigation ***************  -->
  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
   	<rosparam file="$(find navigation2d_example)/param/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
 	  <rosparam file="$(find navigation2d_example)/param/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
	  <rosparam file="$(find navigation2d_example)/param/carlike/local_costmap_params.yaml" command="load" />
	  <rosparam file="$(find navigation2d_example)/param/carlike/global_costmap_params.yaml" command="load" />
	  <rosparam file="$(find navigation2d_example)/param/carlike/teb_local_planner_params.yaml" command="load" />

  <param name="base_global_planner" value="global_planner/GlobalPlanner" />
  <param name="planner_frequency" value="1.0" />
  <param name="planner_patience" value="5.0" />

  <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
  <param name="controller_frequency" value="5.0" />
  <param name="controller_patience" value="15.0" />

          <param name="clearing_rotation_allowed" value="false" />
  </node>

</launch>
