<launch>
    <arg name="rvizconfig" default="$(find navigation2d_example)/rviz_cfg/jsk_rviz1.rviz" />

    <node name="info_float32_publisher" pkg="navigation2d_example" type="info_float32_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>