<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <include file="$(find navigation2d_example)/launch/hector_hokuyo.launch"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <rosparam file="$(find navigation2d_example)/param/car_move_now/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find navigation2d_example)/param/car_move_now/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find navigation2d_example)/param/car_move_now/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find navigation2d_example)/param/car_move_now/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find navigation2d_example)/param/car_move_now/base_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find navigation2d_example)/param/car_move_now/move_base_params.yaml" command="load"/>
    <param name="controller_frequency" value="10.0" />
  <param name="clearing_rotation_allowed" value="false" />
  </node>
  <!-- <node pkg="roomba_500_series" type="roomba500_light_node" respawn="false" name="roomba500_light_node" output="screen"/> -->
</launch>
