<launch>
<!--
    To launch python-based node, 'type' attribute in <node> has to be 'filename.py'. This is due to ROS naming conversion.
-->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_port">
        <param name="port" value="/dev/ttyACM0"></param>
        <param name="baud" value="115200"></param>
    </node>
    <node pkg="ros_arduino_connect" type="serial_RX_node" name="serial_process" output="screen"></node>
</launch>