<launch>
  <!-- Start RViz with custom view -->
      <node pkg="uvc_camera" type="uvc_camera_node" name="mycam">
        <param name="device" type="string" value="/dev/video1"/>
        <param name="width" value="640" />
        <param name="height" value="480" />
        <param name="frame_rate" value="30" />
        <param name="video_mode" value="mjpeg" />
    </node>
  <node pkg="rviz" type="rviz" name="show_rviz" args="-d $(find gbot_core)/rviz/demo.rviz"/>    
</launch>
